@import url(https://fonts.googleapis.com/css?family=Sofia);

body {
    background-color: rgb(30, 30, 30);
    color: rgb(39, 194, 241);
    text-align: center;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    font-family: Sofia;
    
}
h1 {
    text-decoration: underline;
}

a {
    box-sizing: border-box;
    border: 5px solid rgb(39, 194, 241);
    border-radius: 100px;
    height: 80px;
    width: 60%;
    font-size: 25px;
    font-family: Sofia;
    margin: 10px 0;
    padding: 15px 20px;
    background-color: rgb(30, 30, 30);
    color: rgb(39, 194, 241);
}